version: '2'
services:
  dock-server-1:
    container_name: dock-server-1
    build: sampleDockProj1
    ports:
      - "8001:8001"
    networks:
      - spring-cloud-network
  dock-server-2:
    container_name: dock-server-2
    build: dockdemo2
    ports:
      - "8002:8002"
    networks:
      - spring-cloud-network
networks:
  spring-cloud-network:
    driver: bridge